
<div class="ui rounded small right floated image" find-image-for="{{name}}"></div>

<div class="ui huge header vector-title">
  <i class="right triangle icon"></i>
  <div class="content">
    {{app.name}}
    <div class="sub header">-Category-</div>
  </div>
</div>

<div class="ui inverted segment"><pre>{{app.description.split("\n")[0]}}</pre></div>

<a class="ui green button" ng-href="slapt://{{name}}">
  <i class="icon right arrow"></i>
  Install
</a>

<div class="ui header">Packages</div>

<div class="ui grid">    
  <div class="twelve wide column">
    
    <div class="ui blue segment" ng-repeat="package in app.packages|orderBy:[release,version]">
      <div class="ui ribbon blue label">{{package.filename}}</div>
      
      <div class="ui selection list">
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Vector release</div>
	  {{package.release[2]}}.{{package.release[3]}}
	</a>
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Arch</div>
	  {{package.arch}}
	</a>
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Repository</div> 
	  {{package.repository}}
	</a>
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Version</div>
	  {{package.version}}
	</a>
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Size</div>
	  {{package.uncompressed}}k
	</a>
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Size (compressed)</div>
	  {{package.compressed}}k
	</a>
	<a class="item">
	  <div class="ui horizontal right pointing label vector-label-def">Requires</div>
	  {{package.required}}
	</a>
      </div>

      <div class="ui bottom attached label">
	<i class="right arrow icon"></i>
	<a class="ui" ng-href="{{package.url}}">Download</a>
      </div>

    </div>
 
    <div class="ui divider"></div>

    <div class="ui header">Comments</div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'vector-packages'; // required: replace example with your forum shortname
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
  </div> <!-- /column -->
  
  <div class="four wide floated right column">
    <div class="ui vertical fluid menu">
      <div class="header item">
        Tools
      </div>
      <a class="item">
	Request an update
      </a>
      <a class="item">
	Report a problem
      </a>
      <a class="item" ng-href="https://bitbucket.org/VLCore/vabs/src/HEAD/var/vabs/{{name}}/src/{{name}}.SlackBuild">
	SlackBuild
      </a>
      <a class="item" ng-href="http://vlcore.vectorlinux.com/src/">
	Source
      </a>
      <a class="item" ng-href="http://vlcore.vectorlinux.com/buildbot/builders/{{name}}">
	Builds
      </a>
    </div>
  </div>

</div>
